
@model IEnumerable<blog13.Models.Agenda>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefone)
        </th>
        <th></th>
    </tr>

@foreach (var item in @ViewBag.f) {
    <tr>
        <td>
            @Html.Raw(item.id)
        </td>
        <td>
            @Html.Raw(item.nome)
        </td>
        <td>
            @Html.Raw(item.telefone)
        </td>
 
    </tr>
}

</table>
